.role-card {
    background: var(--white);
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px 17px 15px 25px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 387px;
    height: 143px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    box-shadow: none;
    position: relative;
}

.role-card:hover {
    border-color: #7765DA;
}

.role-card.selected {
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(92.24deg, #7765DA -8.5%, #1D68BD 101.3%) border-box;
    box-shadow: none;
}

.role-card__title {
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--dark-gray);
    margin-bottom: 0;
}

.role-card__description {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #666;
}